<%-include ("partials/top") %>
  <div class="row space pb-0 mb-4 px-2 border-bottom">
    <div class="col-12 d-flex justify-content-between align-items-center underline pb-2">
      <h3 class="title">Sheds</h3>
    </div>
  </div>
  <div class="row">

    <div class="col-12">
      <form action="/sheds/new" method="POST">
        <div>
          <% if (error_msg && error_msg.length > 0) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong><%= error_msg %></strong> 
            </div>
            <script>
              $(".alert").alert();
            </script>
          <% } %>
        </div>
        <fieldset class="border p-2 rounded row">
          <legend>Shed Details</legend>
          <div class="form-group col-md-6">
            <label>Shed Name: <strong class="text-danger">*</strong></label>
            <input required type="text" class="form-control" name="shed_name">
          </div>
          <div class="form-group col-md-6">
            <label>Shed Number: <strong class="text-danger">*</strong></label>
            <input required type="text" class="form-control" name="shed_number">
          </div>
        </fieldset>
       
        <div class="form-group mt-4">
          <button class="btn btn-success form-control" type="submit">Continue</button>
        </div>
      </form>
    </div>
  </div>

</main>

<%-include ("partials/bottom") %>